<h3>Day Grid</h3>

<table id="day_grid">
  <tr>
    <% @days.each do |day| %>
      <th><%= day.strftime("%A") %><br /><%= day.to_formatted_s(:short) %></th>
    <% end %>
  </tr>
  <tr>
    <% @days.each do |day| %>
      <td>
        <ol class="day_grid_day" data-day="<%= day %>">
          <% if @stuff_days && @stuff_days[day] %>
            <%= render :partial => 'item', :collection => stuff_for(@stuff_days[day].sort_by(&:position)) %>
          <% end %>
        </ol>
      </td>
    <% end %>
  </tr>
</table>
